<!--==================================
=            User Profile            =
===================================-->
<section class="user-profile section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="sidebar">
					<!-- User Widget -->
					<div class="widget user" *ngIf="currentUser">
						<!-- User Image -->
						<div class="image d-flex justify-content-center" >
							<img *ngIf="currentUser.image" [src]="'/user/' + currentUser.id + '/image'" alt="Imagen de perfil" class="rounded-circle">
                            <img *ngIf="!currentUser.image" src="/images/sports/no-image.png" class="img-fluid mb-4" alt="No Image">
						</div>
						<!-- User Name -->
						<h5 class="text-center">{{currentUser.name}}</h5>
					</div>
					<!-- Dashboard Links -->
					<div class="widget user-dashboard-menu">
						<ul>
							<li>
								<a routerLink="/profile"><i class="fa fa-ticket"></i>Mis actividades <span></span></a>
              				</li>
							<li *ngIf="isAdmin">
								<a routerLink="/adminActivities"><i class="fa fa-bolt"></i>Todas las actividades <span></span></a>
              				</li>
              				<li *ngIf="isAdmin">
								<a routerLink="/createActivity"><i class="fas fa-plus-square"></i> Crear nueva actividad</a>
							</li>
							<li *ngIf="isAdmin">
								<a routerLink="/adminUsers"><i class="fa fa-users"></i> Todos los usuarios <span></span></a>
							</li>
							<li *ngIf="isAdmin">
								<a routerLink="/statistics"><i class="fa fa-chart-bar"></i>Estadísticas </a>
							</li>
							<li class="nav-item" *ngIf="authService.getIsLoggedIn()">
                                <a (click)="logout()" style="cursor: pointer;" class="nav-link">
                                    <i class="fa fa-power-off"></i> Cerrar sesión
                                </a>
                            </li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-8" *ngIf="currentUser">
				<!-- Edit Profile Welcome Text -->
				<div class="widget welcome-message">
					<h2>Editar perfil</h2>
					<p>Edite los campos necesarios</p>
				</div>
				<!-- Edit Personal Info -->
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="widget personal-info">
							<h3 class="widget-header user">Edita tu información personal</h3>
							<form  (ngSubmit)="onSubmit()" enctype="multipart/form-data">
								<!-- First Name -->
								<div class="form-group">
									<label for="first-name">Nombre</label>
									<input formControlName="name" type="text" class="form-control" value="{{currentUser.name}}">
								</div>
								<!-- Last Name -->
								<div class="form-group">
									<label for="surname">Apellidos</label>
									<input formControlName="surname"  type="text" class="form-control" value="{{currentUser.surname}}">
								</div>
								<!-- File chooser -->
								<div class="form-group choose-file d-inline-flex">
									<i class="fa fa-user text-center px-3"></i>
									<label>Subir nueva imagen:</label><br>
                                    <input  type="file" (change)="onImageSelected($event)" accept=".jpg,.jpeg" />

                                    <div>
                                        <img [src]="'/user/' + currentUser?.id + '/image'" *ngIf="currentUser?.image" alt="Imagen de perfil">
                                        <img src="/images/sports/no-image.png" *ngIf="!currentUser?.image" alt="Sin imagen" />
                                    </div>
                                  
                                    <div>
                                      <input type="checkbox" [(ngModel)]="removeImage" name="removeImage" />
                                      <label>Eliminar imagen actual</label>
                                    </div>
								 </div>
								<!-- dni-->
								<div class="form-group">
									<label for="dni">DNI</label>
									<input formControlName="dni" type="text" class="form-control" value="{{currentUser.dni}}">
								</div>
		
								<!-- Tlf number -->
								<div class="form-group">
									<label for="tlf">Número de telefono</label>
									<input formControlName="tlf" type="number" class="form-control" value="{{currentUser.phone}}">
								</div>
								<!-- Submit button -->
								<button class="btn btn-transparent" type="submit">Guardar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>