{{>header}}
<!--==================================
=            User Profile            =
===================================-->
<section class="dashboard section">
	<!-- Container Start -->
	<div class="container">
		<!-- Row Start -->
		<div class="row">
			<div class="col-lg-4">
				<div class="sidebar">
					<!-- User Widget -->
					{{#user}}
					<div class="widget user-dashboard-profile">
						<!-- User Image -->
						<div class="profile-thumb">
							<img src="/user/{{userRegister.id}}/image" alt="" class="rounded-circle">
						</div>
						<!-- User Name -->
						<h5 class="text-center">{{userRegister.name}}</h5>
						<a href="/Edit_user-profile/{{userRegister.id}}" class="btn btn-main-sm">Editar Perfil</a>
					</div>
					{{/user}}
					<!-- Dashboard Links -->
					<div class="widget user-dashboard-menu">
						<ul>
							{{#user}}
							<li>
								<a href="/profile"><i class="fa fa-ticket"></i>Mis actividades <span>{{countActivitiesSubscribed}}</span></a>
							</li>
							{{/user}}
							{{#admin}}
							<li>
								<a href="/admin_activities"><i class="fa fa-bolt"></i>Todas las actividades <span>{{activityCount}}</span></a>
							</li>
							<li>
								<a href="/createActivity"><i class="fas fa-plus-square"></i> Crear nueva actividad</a>
							</li>
							<li class="active">
								<a href="/admin_users"><i class="fa fa-users"></i> Todos los usuarios <span>{{userCount}}</span></a>
							</li>
							<li>
								<a href="/statistics"><i class="fa fa-chart-bar"></i>Estadísticas </a>
							</li>
							{{/admin}}
							{{#user}}
							<li>
								<a>
									<form action="/logout" method="post" style="display: inline;">
										<input type="hidden" name="_csrf" value="{{token}}">
										<button type="submit" style="border: none; background: none; color: inherit; cursor: pointer;">
											<i class="fa fa-power-off"></i> Cerrar sesión
										</button>
									</form>
								</a>
							</li>
							{{/user}}
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				
				<!-- Recently Favorited -->
				<div  class="widget dashboard-container my-adslist" id="allUsersPaginated">
					<h3 class="widget-header">Todos los usuarios de la aplicación</h3>
					<table class="table table-responsive product-dashboard-table">
						<thead>
							<tr>
								<th>Imagen</th>
								<th>Información del usaurio</th>
								<th class="text-center">Tipo</th>
								<th class="text-center">Acción</th>
							</tr>
						</thead>
						<tbody>
								{{#users}}
								<tr class="user">

								<td class="product-thumb">
									<img width="80px" height="auto" src="/user/{{id}}/image"  alt="image description"></td>
								<td class="product-details">
									<h3 class="title">{{name}} {{surname}}</h3>
									<span><strong>Email: </strong>{{email}}</span>
								</td>
								<td class="product-category"><span class="categories">Usuario registrado</span></td>
								<td class="action" data-title="Action">
									<div class="">
										<ul class="list-inline justify-content-center">
											<li class="list-inline-item">
												<form action="/removeUser" method="post">
													<input type="hidden" name="id" value="{{id}}">
													<input type="hidden" name="_csrf" value="{{token}}">
													<button type="submit" style="display: none;"></button>
													<a data-toggle="tooltip" data-placement="top" title="Eliminar" class="delete" onclick="this.closest('form').submit();">
														<i class="fa fa-trash"></i>
													</a>
												</form>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							{{/users}}
						</tbody>
						

					</table>
					<div class="text-center mt-3">
						<button type="button" class="btn btn-primary" id="loadMore" onclick='loadMoreUser()'>Cargar más</button>
					</div>
					
				</div>
				
				
				<!-- pagination -->

			</div>
		</div>
		<!-- Row End -->
	</div>
	<!-- Container End -->
</section>
{{>footer}}