{{>header}}
<!--==================================
=            User Profile            =
===================================-->

<section class="user-profile section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="sidebar">
					<!-- User Widget -->
					{{#user}}
					<div class="widget user">
						<!-- User Image -->
						<div class="image d-flex justify-content-center">
							<img src="{{userRegistered.imageString}}" alt="image description" class="rounded-circle">
						</div>
						<!-- User Name -->
						<h5 class="text-center">{{userRegistered.name}}</h5>
					</div>
					{{/user}}
					<!-- Dashboard Links -->
					<div class="widget user-dashboard-menu">
						<ul>
							{{#user}}
							<li>
								<a href="/profile"><i class="fa fa-ticket"></i>Mis actividades <span>2</span></a>
              				</li>
							  {{/user}}
							  {{#admin}}
							<li>
								<a href="/admin_activities"><i class="fa fa-bolt"></i>Todas las actividades <span>25</span></a>
              				</li>
              				<li>
								<a href="/create_activity"><i class="fas fa-plus-square"></i> Crear nueva actividad</a>
							</li>
							<li>
								<a href="/admin_users"><i class="fa fa-users"></i> Todos los usuarios <span>5</span></a>
							</li>
							<li>
								<a href="/statistics"><i class="fa fa-chart-bar"></i>Estadísticas </a>
							</li>
							{{/admin}}
							{{#user}}
							<li>
								<a>
								<form action="/logout" method="post" style="display: inline;">
									<input type="hidden" name="_csrf" value="{{token}}">
									<button type="submit" style="border: none; background: none; color: inherit; cursor: pointer;">
										<i class="fa fa-chart-bar"></i> Cerrar sesión
									</button>
								</form>
								</a>
							  </li>
							{{/user}}
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<!-- Edit Profile Welcome Text -->
				<div class="widget welcome-message">
					<h2>Editar perfil</h2>
					<p>Edite los campos necesarios</p>
				</div>
				<!-- Edit Personal Info -->
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="widget personal-info">
							<h3 class="widget-header user">Edita tu información personal</h3>
							<form action="/Edit_user-profile" method="POST" enctype="multipart/form-data">
								<!-- First Name -->
								<div class="form-group">
									<label for="first-name">Nombre</label>
									<input type="text" class="form-control" id="first-name" name="name" value="{{userRegistered.name}}">
								</div>
								<!-- Last Name -->
								<div class="form-group">
									<label for="surname">Apellidos</label>
									<input type="text" class="form-control" id="surname" name="surname" value="{{userRegistered.surname}}">
								</div>
								<!-- File chooser -->
								<div class="form-group choose-file d-inline-flex">
									<i class="fa fa-user text-center px-3"></i>
									<input type="file" class="form-control-file mt-2 pt-1" id="input-file" name="file">
								 </div>
								<!-- dni-->
								<div class="form-group">
									<label for="dni">DNI</label>
									<input type="text" class="form-control" id="dni" name="dni" value="{{userRegistered.dni}}">
								</div>
								<!-- email-->
								<div class="form-group">
									<label for="dni">EMAIL</label>
									<input type="text" class="form-control" id="email" name="email" value="{{userRegistered.email}}">
								</div>
		
								<!-- Tlf number -->
								<div class="form-group">
									<label for="tlf">Número de telefono</label>
									<input type="number" class="form-control" id="tlf" name="phone" value="{{userRegistered.phone}}">
								</div>
								<!-- Submit button -->
								<input type="hidden" name="_csrf" value="{{token}}"/>
								<button class="btn btn-transparent">Guardar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{>footer}}