{{>header}}
<!--==================================
=            User Profile            =
===================================-->

<section class="user-profile section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="sidebar">
					<!-- User Widget -->
					{{#user}}
					<div class="widget user">
						<!-- User Image -->
						<div class="image d-flex justify-content-center">
							<img src="/images/user/user-thumb.jpg" alt="" class="">
						</div>
						<!-- User Name -->
						<h5 class="text-center">{{userRegistered.name}}</h5>
					</div>
					{{/user}}
					<!-- Dashboard Links -->
					<div class="widget user-dashboard-menu">
						<ul>
							{{#user}}
							<li>
								<a href="/profile"><i class="fa fa-ticket"></i>Mis actividades <span>2</span></a>
              				</li>
							  {{/user}}
							  {{#admin}}
							<li>
								<a href="/admin_activities"><i class="fa fa-bolt"></i>Todas las actividades <span>25</span></a>
              				</li>
              				<li>
								<a href="/create_activity"><i class="fas fa-plus-square"></i> Crear nueva actividad</a>
							</li>
							<li>
								<a href="/admin_users"><i class="fa fa-users"></i> Todos los usuarios <span>5</span></a>
							</li>
							<li>
								<a href="/statistics"><i class="fa fa-chart-bar"></i>Estadísticas </a>
							</li>
							{{/admin}}
							{{#user}}
							<li>
								<a href="/index"><i class="fa fa-power-off"></i> Cerrar sesión</a>
							</li>
							<li>
								<a href="#!" data-toggle="modal" data-target="#deleteaccount"><i class="fa fa-trash"></i>Borrar cuenta</a>
							</li>
							{{/user}}
						</ul>
					</div>

				</div>
			</div>
<!-- Modal -->
			<div class="modal fade" id="deleteaccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
				<div class="modal-header border-bottom-0">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center">
					<img src="/images/account/Account1.png" class="img-fluid mb-2" alt="">
					<h6 class="py-2">¿Estas seguro de querer eliminar tu cuenta?</h6>
					<p>Se borraran todos tus datos. No se podrá recuperar la Información de la cuenta.</p>
					<textarea class="form-control" name="message" id="" cols="40" rows="4" class="w-100 rounded"></textarea>
				</div>
				<div class="modal-footer border-top-0 mb-3 mx-5 justify-content-center">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-danger">Borrar</button>
				</div>
				</div>
			</div>
			</div>
<!-- delete account popup modal end-->
          <!-- delete-account modal -->

			<div class="col-lg-8">
				<!-- Edit Profile Welcome Text -->
				<div class="widget welcome-message">
					<h2>Editar perfil</h2>
					<p>Edite los campos necesarios</p>
				</div>
				<!-- Edit Personal Info -->
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="widget personal-info">
							<h3 class="widget-header user">Edita tu información personal</h3>
							<form action="/Edit_user-profile" method="POST">
								<!-- First Name -->
								<div class="form-group">
									<label for="first-name">Nombre</label>
									<input type="text" class="form-control" id="first-name" name="name" value="{{userRegistered.name}}">
								</div>
								<!-- Last Name -->
								<div class="form-group">
									<label for="surname">Apellidos</label>
									<input type="text" class="form-control" id="surname" name="surname" value="{{userRegistered.surname}}">
								</div>
								<!-- File chooser -->
								<div class="form-group choose-file d-inline-flex">
									<i class="fa fa-user text-center px-3"></i>
									<input type="file" class="form-control-file mt-2 pt-1" id="input-file">
								 </div>
								<!-- dni-->
								<div class="form-group">
									<label for="dni">DNI</label>
									<input type="text" class="form-control" id="dni" name="dni" value="{{userRegistered.dni}}">
								</div>
								<!-- email-->
								<div class="form-group">
									<label for="dni">EMAIL</label>
									<input type="text" class="form-control" id="email" name="email" value="{{userRegistered.email}}">
								</div>
		
								<!-- Tlf number -->
								<div class="form-group">
									<label for="tlf">Número de telefono</label>
									<input type="number" class="form-control" id="tlf" name="phone" value="{{userRegistered.phone}}">
								</div>
								<!-- Submit button -->
								<input type="hidden" name="_csrf" value="{{token}}"/>
								<button class="btn btn-transparent">Guardar</button>
							</form>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<!-- Change Password -->
					<div class="widget change-password">
						<h3 class="widget-header user">Editar contraseña</h3>
						<form action="/Edit_user-profile">
							<!-- New Password -->
							<div class="form-group">
								<label for="new-password">Nueva Contraseña</label>
								<input type="password" class="form-control" id="new-password" name="newPassword">
							</div>
							<!-- Confirm New Password -->
							<div class="form-group">
								<label for="confirm-password">Confirmar nueva contraseña </label>
								<input type="password" class="form-control" id="confirm-password">
							</div>
							<!-- Submit Button -->
							<input type="hidden" name="_csrf" value="{{token}}"/>
							<button class="btn btn-transparent">Cambiar Contraseña</button>
						</form>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{>footer}}