<tbody>
    {{#allActivities}}
    <tr class="activity-item">
        <td class="product-thumb">
            <a href="/activity/{{id}}">
            {{#image}}
            <img width="80px" height="auto" src="/activity/{{id}}/image" alt="image description">
            {{/image}}
            {{^image}}
            <img src="/images/sports/no-image.png" class="img-fluid mb-4" alt="No Image">
            {{/image}}
            </td>
            </a>
            
        <td class="product-details">
            <h3 class="title">{{name}}</h3>
            <!--<span><strong>Fecha y hora: </strong><time>activityDate</time> </span>-->
            <span class="location"><strong>Capacidad:</strong>{{vacancy}}</span>
        </td>
        <td class="product-category"><span class="categories">{{category}}</span></td>
        <td class="action" data-title="Action">
            <div class="">
                <ul class="list-inline justify-content-center">
                    <li class="list-inline-item">
                        <a data-toggle="tooltip" data-placement="top" title="Ver" class="view" href="/activity/{{id}}">
                            <i class="fa fa-eye"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a data-toggle="tooltip" data-placement="top" title="Editar" class="edit" href="/editActivity/{{id}}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <form action="/removeActivity" method="post">
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="hidden" name="_csrf" value="{{token}}">
                            <button type="submit" style="display: none;"></button>
                            <a data-toggle="tooltip" data-placement="top" title="Eliminar" class="delete" onclick="this.closest('form').submit();">
                                <i class="fa fa-trash"></i>
                            </a>
                        </form>
                    </li>
                    
                </ul>
            </div>
        </td>
    </tr>
    {{/allActivities}}
</tbody>

<div id="loadMoreIndicator" data-has-more="{{hasMore}}" style="display: none;"></div>

{{^hasMore}}
<p id="noMoreAdminActivitysMessage" style="text-align: center; font-weight: bold; display: none;">
    No hay más actividades para cargar.
</p>
{{/hasMore}}
