<div id="allActivities" class="row">
    
    {{#activities}}
    <div class="col-sm-12 col-lg-3">
        <div class="product-item bg-light">
            <div class="card">
                <div class="thumb-content">
                    <a href="/activity/{{id}}">
                        {{#image}}
                        <img class="card-img-top img-fluid" src="/activity/{{id}}/image" alt="Card image cap">
                        {{/image}}
						{{^image}}
						<img src="/images/sports/no-image.png" class="img-fluid mb-4" alt="No Image">
						{{/image}}
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title"><a href="/activity/{{id}}">{{name}}</a></h4>
                    <ul class="list-inline product-meta">
                        <li class="list-inline-item">
                            <i class="fa fa-folder-open-o"></i>{{category}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        {{/activities}}
        {{^activities}}
        <p>No hay actividades disponibles.</p>
        {{/activities}}
        
    <div id="loadMoreIndicator" data-has-more="{{hasMore}}" style="display: none;"></div>

    
    {{^hasMore}}
    <p id="noMoreActivitiesMessage" style="text-align: center; font-weight: bold; display: none;">
        No hay más actividades para cargar.
    </p>
    {{/hasMore}}
</div>

    </div>
</div>