{{>header}}



<section class="login py-5 border-top-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8 align-item-center">
        <div class="border border">
          <h3 class="bg-gray p-4">Registrate Ahora</h3>


          <form action="/signup" method="POST"enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="{{token}}"/>
            <fieldset class="p-4">
                <input class="form-control mb-3" type="text" name="name" placeholder="Nombre" required>
                <input class="form-control mb-3" type="text" name="surname" placeholder="Apellido" required>
                <input class="form-control mb-3" type="text" name="dni" placeholder="DNI" required>
                <input class="form-control mb-3" type="email" name="email" placeholder="Email" required>
                <input class="form-control mb-3" type="text" name="phone" placeholder="Número de teléfono" required>
                <input class="form-control mb-3" type="password" name="password" placeholder="Contraseña" required>
                <!--<input class="form-control mb-3" type="password" name="confirmPassword" placeholder="Confirmar contraseña" required>-->
                <button type="submit" class="btn btn-primary font-weight-bold mt-3">Registrarse</button>
            </fieldset>
        </form>

        
        </div>
      </div>
    </div>
  </div>
</section>


{{>footer}}