{{>header}}
<!--==================================
=            User Profile            =
===================================-->
<section class="dashboard section">
	<!-- Container Start -->
	<div class="container">
		<!-- Row Start -->
		<div class="row">
			<div class="col-lg-4">
				<div class="sidebar">
					<!-- User Widget -->
					{{#user}}
					<div class="widget user-dashboard-profile">
						<!-- User Image -->
						<div class="profile-thumb">
							<img src="{{userRegistered.imageString}}" alt="" class="rounded-circle">
						</div>
						<!-- User Name -->
						<h5 class="text-center">{{userRegistered.name}}</h5>
						<a href="/Edit_user-profile" class="btn btn-main-sm">Editar Perfil</a>
					</div>
					{{/user}}
					<!-- Dashboard Links -->
					<div class="widget user-dashboard-menu">
						<ul>
							{{#user}}
							<li>
								<a href="/profile"><i class="fa fa-ticket"></i>Mis actividades <span>{{countActivitiesSubscribed}}</span></a>
							</li>
							{{/user}}
							{{#admin}}

							<li>
								<a href="/admin_activities"><i class="fa fa-bolt"></i>Todas las actividades <span>{{activityCount}}</span></a>
							</li>
							<li>
								<a href="/createActivity"><i class="fas fa-plus-square"></i> Crear nueva actividad</a>
							</li>
							<li>
								<a href="/admin_users"><i class="fa fa-users"></i> Todos los usuarios <span>{{userCount}}</span></a>
							</li>
							<li  class="active">
								<a href="/statistics"><i class="fa fa-chart-bar"></i>Estadísticas </a>
							</li>
							{{/admin}}
							{{#user}}
							<li>
								<a>
									<form action="/logout" method="post" style="display: inline;">
										<input type="hidden" name="_csrf" value="{{token}}">
										<button type="submit" style="border: none; background: none; color: inherit; cursor: pointer;">
											<i class="fa fa-power-off"></i> Cerrar sesión
										</button>
									</form>
								</a>
							</li>
							{{/user}}
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<!-- Estadísticas de la aplicación -->
				<div class="widget dashboard-container my-adslist">
				  <h3 class="widget-header">Estadísticas de la aplicación</h3>
			  
				  <!-- Tarjetas de resumen-->
				<div class="row">
					<div class="col-md-3 mb-4">
					  <div class="card text-center p-3 shadow-sm" style="background-color: rgba(86, 114, 249, 0.1); color: #5672f9;">
						<h4>Número de usuarios</h4>
						<p>{{userCount}}</p>
					  </div>
					</div>
					<div class="col-md-3 mb-4">
					  <div class="card text-center p-3 shadow-sm" style="background-color: rgba(86, 114, 249, 0.1); color: #5672f9;">
						<h4>Número de activades</h4>
						<p>{{activityCount}}</p>
					  </div>
					</div>
					<div class="col-md-6 mb-4">
					  <div class="card text-center p-3 shadow-sm" style="background-color: rgba(86, 114, 249, 0.1); color: #5672f9;">
						<h4>Número de lugares en los que se han desarrollado las actividades</h4>
						<p>{{placeCount}}</p>
					  </div>
					</div>
				</div>
			  
				 <!-- Gráficos -->
				<div class="row mt-4">
					<div class="col-md-12">
					<div class="card p-3 shadow-sm mb-4">
						<h5>Cantidad de actividades realizadas cada mes</h5>
						<canvas id="revenueChart"></canvas>
					</div>
					</div>
					<div class="col-md-12">
					<div class="card p-3 shadow-sm">
						<h5>Puntuación total de las valoraciones realizadas por los usuarios.</h5>
						<p>Distribuidas en 1, 2, 3, 4 y 5 estrellas para las actividades</p>
						<!-- Ajuste el tamaño del gráfico de pastel -->
						<canvas id="segmentsChart" style="max-width: 300px; max-height: 300px; margin: 0 auto;"></canvas>
					</div>
					</div>
				</div>
				<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
				
				<script>
					document.addEventListener("DOMContentLoaded", function (){
						const activityByMonth = JSON.parse('{{activityData}}');
						console.log("actividades"+activityByMonth);
						const reviewByValoration = JSON.parse('{{reviewData}}');
						console.log("reviews"+reviewByValoration);
						const revenueCtx = document.getElementById('revenueChart').getContext('2d');	
						new Chart(revenueCtx, {
							type: 'bar',
							data: {
								labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            					datasets: [{
									label: 'Cantidad de actividades realizadas durante el mes',
									data: activityByMonth,
									backgroundColor: '#2c4a7f'
								}]
							},
							options: { responsive: true }
						});
						const segmentsCtx = document.getElementById('segmentsChart').getContext('2d');
						new Chart(segmentsCtx, {
							type: 'pie',
							data: {
								labels: ['1', '2', '3', '4', '5'],
								datasets: [{
									data: reviewByValoration,
									backgroundColor: ['#e0f0ff', '#aad3ff', '#80b8ff', '#4f8cff', '#2c4a7f'],
								}]
							},
							options: { responsive: true }
						});
					});
				</script>
				
				
			  
		<!-- Row End -->
	</div>
	<!-- Container End -->
</section>
{{>footer}}
